// colors//
$nav_bg: #222;
$nav_bor: #080808;
$navbar_brand: #9d9d9d;
$navbar_brand_hov: #fff;
$navbar_form_bor: #101010;
$form: #555;
$form_bg: #fff;
$form_bor: #ccc;
$form_btn: #fff;
$form_btn_bg: #5cb85c;
$form_btn_bg_hov:#449d44;
$form_btn_bor: #4cae4c;
$form_btn_bor_hov: #398439;
$main_bg: #eee;
$btn_primary: #fff;
$btn_primary_bg: #337ab7;
$btn_primary_bg_hov: #286090;
$btn_primary_bor: #2e6da4;
$btn_primary_bor_hov: #204d74;
$article_text: #333;
$article_btn: #333;
$article_btn_bg: #fff;
$article_btn_bor: #ccc;
$article_btn_bg_hov: #e6e6e6;
$article_btn_bor_hov: #adadad;
$hr: #eee;
$main_p: #333;
$nav_tog_bg: #333;
$nav_tog_bor: #333;
$icon_bar_tog: #fff;
