h1 {
  font-size: 6rem; }

header {
  background: #eee;
  padding: 5rem 0; }

.navbar-dark .navbar-brand {
  color: #9d9d9d; }

#columns {
  padding: 3rem 0; }

@media (max-width: 768px) {
  .navbar .form-control {
    margin-bottom: 5px; }
  .form-inline {
    margin: 5px 0; }
  .form-inline .form-control {
    width: 100%; } }
