#navi {
	border-radius: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#jumbo {
	padding-top: 48px;
	margin-top: 50px;
	margin-bottom: 0px;

}

#columns {
	padding-top: 45px;

}


footer {
	padding-top: 40px;
	padding-bottom: 10px;
	margin-bottom: 10px;

}