body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: Helvetica;
  color: #333; }

main {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #eee;
  margin-bottom: 30px; }
  main p {
    margin-bottom: 15px;
    line-height: 1.43;
    font-size: 21px;
    font-weight: 200;
    color: #333; }

h1 {
  font-size: 34px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px; }

h2 {
  font-size: 30px;
  font-weight: 400; }

hr {
  clear: both;
  padding-top: 20px;
  margin: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee; }

footer p {
  margin: 0 0 10px;
  margin-left: 48px; }

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8ps;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #333;
  border-color: #333; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.icon-bar {
  background-color: #fff;
  margin-top: 4px;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px; }

.navbar-inverse {
  background-color: #222;
  border-color: #080808; }

.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 0;
  border-width: 0 0 1px; }

.navbar {
  margin-bottom: 20px;
  border: 1px solid transparent;
  display: block; }

.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow: visible;
  border-top: 1px solid transparent; }

.collapse {
  display: none; }

.container {
  padding-right: 65px;
  padding-left: 65px; }

.navbar-header {
  float: left;
  height: 50px;
  width: auto; }

.navbar-brand {
  color: #9d9d9d;
  float: left;
  height: 20px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none; }
  .navbar-brand:hover {
    color: #fff; }

.navbar-form {
  border-color: #101010;
  float: right;
  width: auto;
  padding: 10px 15px;
  margin-left: 0;
  border: 0; }

.form-group {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0; }

.form-control {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.43;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  vertical-align: middle; }

.btn-success {
  display: inline-block;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  line-height: 1.43;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none; }
  .btn-success:hover {
    background-color: #449d44;
    border-color: #398439; }

.btn-primary {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  text-align: center;
  vertical-align: middle; }
  .btn-primary:hover {
    background-color: #286090;
    border-color: #204d74; }

.row {
  padding-left: 48px;
  padding-right: 48px; }

.col-md-4 {
  padding-left: 15px;
  padding-right: 15px; }
  .col-md-4 p {
    color: #333;
    font-size: 14px;
    line-height: 1.43; }

.btn-default {
  display: inline-block;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  line-height: 1.43;
  padding: 6px 12px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle; }
  .btn-default:hover {
    background-color: #e6e6e6;
    border-color: #adadad; }

@media screen and (min-width: 768px) {
  h1 {
    font-size: 63px; }

  .col-md-4 {
    float: left;
    width: 30%; } }

/*# sourceMappingURL=style.css.map */
