.navbar {
	border-radius: 0;
	margin-bottom: 0;
}
body > nav {
	padding-right: 45px !important;
	padding-left: 35px !important;
}
hr {
	margin-top: 30px;
}
.jumbotron {
	padding-bottom: 65px !important;
}
footer {
	margin-bottom: 10px;
}