/*********************************************/
/* Mixins */
/*********************************************/

@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
      -ms-transform: translate($x, $y); 
          transform: translate($x, $y);
}

/*********************************************/
/* Styles */
/*********************************************/

.navbar {
	border-radius: 0px;
}

.jumbotron {
	height: 360px;
	@include translate(0, -20px);
}