#top-nav{
  background-color: #222;
  border: 0;
  border-radius: 0;
}

#top-nav a{
  margin-left: 200px;
    color: #aaa;
}

#top-nav a:hover{

    color: #fff;
}

.form-group{
  margin-left: 535px;
}
