.headline {
	background-color: #D8D8D8;
	height:200px;
}

.articles {
	height: 125px;
	background-color: #fff;
}

.foot {
	height: 100px;
	text-align:left;
	border-top: 1px solid #D8D8D8;
	margin-top: 20px;
}

.navbar {
	color: #000;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}